body {
    background-color: rgb(0, 0, 0);
    color: white;
}

.jumbotron {
    margin: 0px;
    background-image: url(image/IMG_1837.png);
    background-size: cover;
    color: white;
    text-align: center;
}

.form-control {
    display: inline-block;
    width: 145px;
    color: red
}

table {
    table-layout: fixed;
    background-color: rgb(213, 241, 243);
    color: black;
}